@model List<mp_ecommerce.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tienda E-commerce</h1>
    <p class="lead">Proyecto para integrrar el Checkout de mercadopago.</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h2>@item.Name</h2>
            <img src="@item.Url" alt="Autumn" width="200" height="200">
            <br />
            <br />
            <p>$ @item.Price</p>
            <input class="btn btn-default" type="button" title="PayBtn" value="Pagar la compra" onclick="location.href='@Url.Action("Pay", "Home",item   )'" />

        </div>
    }
</div>


<script src="https://www.mercadopago.com/v2/security.js" view="Index"></script>